/* ================================= preload Css Start =========================== */
.preloader {
    display: flex;
}

.spinner-loader {
    width: 50px;
    height: 50px;
    border: 4px solid hsl(var(--main-h), var(--main-s), calc(var(--main-l) + 30%));
    border-top-color: var(--main-600);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
/* ================================= preload Css End ===========================  */
