.feature-four {
	&-icon span::after {
		position: absolute;
		content: "";
          inset-block-start: -5px;
          inset-inline-start: -5px;
		background: var(--heading-color);
		height: 60px;
		border-radius: 50%;
		width: 60px;
		z-index: -1;
	}
}